<div class="row col-md-12" style="text-align: center">
    <div class="col-md-2"></div>
    <div class="col-md-8" style="background-color: rgb(240, 136, 136); margin-top: 1em; color: #fff;">
        <h2>Create fun quizzes with just few clicks!</h2>
        <hr>
        <h3>Host it yourself</h3>
        <p>Now You can host your own private Cerebrum event using your own laptop or tablets. A Cerebrum pub quiz is a
            public event that runs regularly (normally weekly in a pub or bar) and are promoted/listed on this website.</p><hr>
    </div>
    <div class="col-md-2"></div>
</div>