<div class="row">
    <div class="col-md-12">
        <h1>{{quiz.title}}</h1>
        <p>{{quiz.description}}</p>
        
        <span>{{quiz.startsAt | date:"MM/dd/yyyy 'at' hh:mm"}}</span>
        <br>
        <span>Moderator: {{quiz.user.displayName}}</span>
    </div>
</div>
<div class="row" ng-if="isOwner()">
    <div class="col-md-4">
        <a ng-click="addQuestion()" class="btn btn-primary">Add Question</a>
    </div>
    <div class="col-md-4" ng-repeat="q in questions">
        <h1>{{q.question}}</h1>
        <span>A: {{q.a}}</span>
        <span>B: {{q.b}}</span>
        <span>C: {{q.c}}</span>
        <span>D: {{q.d}}</span><br>
        <i>Correct: {{q.correct}}</i>
    </div>
</div>