<div class="modal-body">
    <div class="bg-danger">{{error}}</div>
    <form novalidate ng-submit="join()" ng-if="!error">
        <div class="form-group">
            <label>Correct:</label>
            <select name="singleSelect" ng-model="s.selected">
              <option value="{{t.key}}" ng-repeat="t in teams">{{t.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Join as Team</button>
        </div>
    </form>
    <a ng-click="$close()" class="btn btn-warning" ng-if="error">Close</a>
</div>